html{
	font-family: 'Noto Serif', serif;
	width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.navbar{
	background-color: #2c3a68;
}
.cool{
	display: flex;
	justify-content: center;
}
p{ 
	color: white;
	background-color: #2c3a68;
	text-align: center;
	border: 1px solid #2c3a68;
	border-radius: 10px;
	font-family: 'Noto Serif', serif;
	box-shadow: 5px 4px 5px #888888;
	padding: 5px 5px;
	margin-right: 80px;
	margin-left: 80px;
}
.border-des{
	border: 2px solid #2c3a68;
	border-radius: 20px;
	padding:20px;
	display: block;
	margin-top: 80px;
	margin-bottom: 80px;
	width: 100%;
	box-shadow: 5px 4px 5px #888888;
}
.align{
	text-align: center;
	padding: 5px 50px;
}
.btn-des{
	border-radius: 400px;
	border-color: #2c3a68;
	background-color: #2c3a68;
}
.btn-des:hover{
    background-color: #2c3a68;
}